<div class="panel panel-default">
  <div class="panel-body">
    <h4>{{ empresa.razao_social }}</h4>
    <p>{{ empresa.cnpj }}</p>
  </div>
  <div class="panel-footer">
      <div class="form-inline" *ngIf="editar">

        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="mostraErro">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p *ngFor="let erro of erros; let i = index">{{ erro }} </p>
        </div>

        <div class="form-group">
          <input type="text" name="cnpj" id="cnpj" class="form-control" placeholder="CNPJ" [(ngModel)]="campoCnpj">
          <input type="text" name="razao_social" id="razao_social" class="form-control" placeholder="Razão Social" [(ngModel)]="campoRazaoSocial">
          <button class="btn btn-primary" (click)="onSalvar()">Salvar</button>
          <button class="btn btn-cancel" (click)="onCancelar()">Cancelar</button>
        </div>
      </div>
      <div *ngIf="!editar">
        <a href="#" class="btn btn-primary" [routerLink]="['/vendedores/'+empresa.id]">Ver Vendedores</a>
        <button class="btn btn-default" (click)="onEditar()">Editar Empresa</button>
        <button class="btn btn-default" (click)="onExcluir()">Excluir Empresa</button>
      </div>
  </div>
</div>